<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="net.davoleo.java_android">

    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="io.github.davoleo.javandroid.appbar.AppBarHome"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:parentActivityName="io.github.davoleo.javandroid.MainActivity">
        </activity>
        <activity android:name="io.github.davoleo.javandroid.recyclerviews.DisplayLogoActivity">
        </activity>
        <activity android:name="io.github.davoleo.javandroid.recyclerviews.RecyclerHome">
        </activity>
        <activity android:name="io.github.davoleo.javandroid.databasetest.DBTestHome">
        </activity>
        <activity android:name="io.github.davoleo.javandroid.fragment.FragmentActivityExample">
        </activity>
        <activity
                android:name="io.github.davoleo.javandroid.randomizer.Randomizer"
                android:screenOrientation="fullSensor">
        </activity>
        <activity android:name="io.github.davoleo.javandroid.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="io.github.davoleo.javandroid.geo_genius.GeoGeniusLogin"
                android:label="@string/title_activity_geo_genius"
                android:parentActivityName="io.github.davoleo.javandroid.MainActivity">
        </activity>
        <activity
                android:name="io.github.davoleo.javandroid.geo_genius.GeoGeniusHome"
                android:label="@string/title_activity_geo_genius_home"
                android:parentActivityName="io.github.davoleo.javandroid.MainActivity"> <!-- Sets the Activity the back button on the appBar points to -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
                android:name="io.github.davoleo.javandroid.geo_genius.sections.Capitals"
                android:label="@string/title_activity_capitals">
        </activity>
        <activity
                android:name="io.github.davoleo.javandroid.geo_genius.sections.Rivers"
                android:label="@string/title_activity_rivers">
        </activity>
        <activity android:name="io.github.davoleo.javandroid.geo_genius.ActivityContactList">
        </activity>
    </application>

</manifest>